@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins';

}

body{
    
    background-color: rgb(45, 44, 44);
}
.website {
    color: white;
    width: 100vw;
    height: 100vh;
    padding-top: 15px;

    max-width: 98vw;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    font-size: 22px;
    font-weight: bold;

}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    font-size: 22px;
    font-weight: bold;

}

.navbar-left-side {
    display: flex;
    flex-direction: row;

}
.footer-left-side {
    display: flex;
    flex-direction: row;

}

.navbar-left-name {
    margin-left: 40px;
    margin-right: 40px;

}
.footer-left-name {
    margin-left: 40px;
    margin-right: 40px;

}

.navbar-left-name {
    margin-left: 40px;
    margin-right: 40px;

}


.navbar-right-side {
    display: flex;
    flex-direction: row;
}
.footer-right-side {
    display: flex;
    flex-direction: row;
}


.navbar-right-side p {
    margin-right: 25px;
}
.footer-right-side p {
    margin-right: 25px;
}

.main {

    max-width: 80vw;
    margin-left: 10vw;
}


.hero {

    display: flex;
    flex-direction: row;
    margin-top: 70px;


}

.hero-right-side {
    margin-left: 50px;
    margin-top: 130px;
}

.hero-left-side img {
    width: 30vw;
}

.heading {
    font-size: 60px;
    font-weight: bolder;

}

.hero-subpart {
    font-size: 30px;
    font-weight: medium;
    margin-top: 10px;
}



.projects{
    margin-top: 100px;
}
.project-title{
    font-size: 50px;
    font-weight: bolder;
    margin-top: 50px;
    display: flex;
    justify-self: center;
    margin-left: 200px;
    text-decoration: underline;
}

.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* max-width: 80; */
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-left: 50px;
    margin-top: 40px;

}
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .card img{
    width: 310px;
    height: 310px;
  }
  /* Add some padding inside the card container */
  .container 
  {
    padding: 2px 16px;
  }

  input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    /* resize: vertical; */
    
    color: white; /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container1 {
    margin-top: 50px;
    /* border-radius: 5px; */
    /* background-color: #f2f2f2; */
    padding: 20px;
  }
  

  .form-title{
    font-size: 50px;
    font-weight: bolder;
    margin-top: 50px;
    display: flex;
    justify-self: center;
    margin-left: 370px;
    text-decoration: underline;
}


.footer{
    margin-top: 50px;

    
}


.footer-head{
    font-size: 50px;
    font-weight: bolder;
    margin-left: 25%;
}

.footer .subpart{
    font-size: 20px;
    font-weight: medium;
    margin-left: 35%;
}

.form-title{
    font-size: 50px;
    font-weight: bolder;
    margin-top: 50px;
    display: flex;
    justify-self: center;
    margin-left: 370px;
    text-decoration: underline;
}
.footer-title{
    font-size: 10px;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
